
/* ---------------------------- Tags ---------------------------- */
a {
    color: #00ADB5;
    margin: auto 1em auto 1em;
    text-decoration: none;
}

body {
    color: #222831;
    font-family: "News Cycle", serif;
    margin: 0;
    text-align: center;
}

hr {
    background-color: #EEEEEE;
    border-color: #DDDDDD;
    border-style: dotted;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    border-top-width: 8px;
    margin: 100px auto;
    width: 5%;
}

h2 {
    color: #00ADB5;
    font-family: "Roboto Mono", monospace;
    font-size: 2em;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    color: #00ADB5;
    font-family: "Roboto Mono", sans-serif;
}


/* ---------------------------- Classes ---------------------------- */
.animation-img {
    float: right;
    margin-left: 30px;
    width: 15%;
}

.bottom-cloud {
    left: 20%;
}

.bottom-container {
    background-color: #393E46;
    padding-bottom: 20px;
    padding-top: 15px;
}

.btn {
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    color: #EEEEEE;
    font-size: 20px;
    background: #00ADB5;
    padding: 5px 20px 5px 20px;
    margin-top: 2em;
    margin-bottom: 5em;
    text-decoration: none;
}

.btn:hover {
  background: #73d5e6;
  text-decoration: none;
}

.cloud {
    position: absolute;
}

.coding-img {
    float: left;
    margin-right: 30px;
    width: 15%;
}

.contact-desc {
    margin: 20px auto 50px;
    width: 25%;
}

.contact-me {
    padding-bottom: 7em;
}

.container {
    height: 200px;
    width: 200px;
}

.copyright-text {
    color: #EEEEEE;
    font-size: .7em;
    letter-spacing: .25em;
    margin-bottom: 0;
}

.flavor-text {
    color: #CCCCCC;
    letter-spacing: .2em;
}

.footer-link {
    line-height: .9em;
}

.middle-container {
    background-color: #EEEEEE;
}

.profile {
    margin: 0 auto 0 auto;
    padding-top: 8em;
}

.profile-desc {
    margin: 0 auto 0 auto;
    width: 30%;
}

.pro-intro {
    font-size: 1.2rem;
}

.skill-row {
    line-height: 2;
    margin: 100px auto 100px auto;
    text-align: left;
    width: 50%;
}

.top-cloud {
    right: 20%;
    top: 50px;
}

.top-container {
    background-color: #EEEEEE;
    height: auto;
    padding-top: 100px;
    position: relative;
    margin: 0;
    width: auto;
}


/* ---------------------------- IDs ---------------------------- */
#name-intro {
    color: #00ADB5;
    margin: 30px auto 0 auto;
    font-family: "Caveat", cursive;
    font-size: 5.625em;
}